In [3]:
import streamlit as st
import pandas as pd
import plotly.express as px

In [4]:
# EDA.ipynb

# import pandas as pd
# import plotly.express as px

# Load your dataset
df= pd.read_csv("C:/Users/CRcha/OneDrive/Desktop/coding/sprint4project/sprint4_project/vehicles_us.csv")

# Basic information about the dataset
df.info()
df.describe(include='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

,model,condition,fuel,transmission,type,paint_color,date_posted
count,51525,51525,51525,51525,51525,42258,51525
unique,100,6,5,3,13,12,354
top,ford f-150,excellent,gas,automatic,SUV,white,2019-03-17
freq,2796,24773,47288,46902,12405,10029,186

In [5]:
# Check for duplicate rows
duplicate_rows = df[df.duplicated()]
print("\nNumber of duplicate rows: ", duplicate_rows.shape[0])

# Display duplicate rows
print("Duplicate rows:\n", duplicate_rows)

Number of duplicate rows:  0
Duplicate rows:
 Empty DataFrame
Columns: [price, model_year, model, condition, cylinders, fuel, odometer, transmission, type, paint_color, is_4wd, date_posted, days_listed]
Index: []

In [6]:
display(df.head(10))
display(df.sample(10))

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
5,14990,2014.0,chrysler 300,excellent,6.0,gas,57954.0,automatic,sedan,black,1.0,2018-06-20,15
6,12990,2015.0,toyota camry,excellent,4.0,gas,79212.0,automatic,sedan,white,NaN,2018-12-27,73
7,15990,2013.0,honda pilot,excellent,6.0,gas,109473.0,automatic,SUV,black,1.0,2019-01-07,68
8,11500,2012.0,kia sorento,excellent,4.0,gas,104174.0,automatic,SUV,NaN,1.0,2018-07-16,19
9,9200,2008.0,honda pilot,excellent,NaN,gas,147191.0,automatic,SUV,blue,1.0,2019-02-15,17

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
34010,2500,1991.0,chevrolet silverado,good,8.0,gas,220000.0,automatic,truck,blue,1.0,2019-01-28,28
27408,11995,2010.0,ram 1500,excellent,8.0,gas,134000.0,automatic,pickup,black,NaN,2018-07-09,107
15831,9000,2005.0,chevrolet silverado 1500,good,8.0,gas,180000.0,automatic,truck,NaN,1.0,2019-04-06,18
36158,3800,2005.0,toyota camry,good,NaN,gas,167500.0,automatic,sedan,black,NaN,2018-08-29,41
17019,17989,NaN,ford f-150,excellent,8.0,gas,127472.0,automatic,truck,black,1.0,2018-07-25,13
32332,8200,2014.0,hyundai elantra,excellent,NaN,gas,112101.0,automatic,sedan,blue,NaN,2019-03-25,22
39483,4990,2010.0,nissan rogue,excellent,4.0,gas,158445.0,automatic,SUV,red,1.0,2018-05-24,30
10494,1750,NaN,ram 1500,fair,8.0,gas,235997.0,automatic,pickup,red,NaN,2019-02-10,36
30887,6800,2004.0,ford f-150,good,8.0,gas,123661.0,automatic,pickup,blue,NaN,2018-12-06,41
2703,2295,2001.0,ford ranger,good,4.0,gas,215266.0,manual,pickup,white,NaN,2019-01-20,26

In [7]:
# Check for missing values
missing_values = df.isnull().sum()
print("Missing values in each column:\n", missing_values)

# Percentage of missing values
missing_percentage = (missing_values / len(df)) * 100
print("\nPercentage of missing values in each column:\n", missing_percentage)

Missing values in each column:
 price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

Percentage of missing values in each column:
 price            0.000000
model_year       7.023775
model            0.000000
condition        0.000000
cylinders       10.208637
fuel             0.000000
odometer        15.316836
transmission     0.000000
type             0.000000
paint_color     17.985444
is_4wd          50.369723
date_posted      0.000000
days_listed      0.000000
dtype: float64

In [8]:
df['is_4wd'].dropna()

0        1.0
1        1.0
5        1.0
7        1.0
8        1.0
        ...
51507    1.0
51509    1.0
51513    1.0
51515    1.0
51516    1.0
Name: is_4wd, Length: 25572, dtype: float64

In [9]:
# Check for duplicate rows
duplicate_rows = df[df.duplicated()]
print("\nNumber of duplicate rows: ", duplicate_rows.shape[0])

# Display duplicate rows
print("Duplicate rows:\n", duplicate_rows)

Number of duplicate rows:  0
Duplicate rows:
 Empty DataFrame
Columns: [price, model_year, model, condition, cylinders, fuel, odometer, transmission, type, paint_color, is_4wd, date_posted, days_listed]
Index: []

In [10]:
# Histogram for Price Distribution
fig = px.histogram(df, x='price', title='Price Distribution')
fig.show()

# Histogram for Model Year Distribution
fig = px.histogram(df, x='model_year', title='Model Year Distribution')
fig.show()

# Histogram for Odometer Readings
fig = px.histogram(df, x='odometer', title='Odometer Readings Distribution')
fig.show()

# Histogram for Days Listed
fig = px.histogram(df, x='days_listed', title='Days Listed Distribution')
fig.show()

# Scatter plot for Price vs. Odometer (mileage)
fig = px.scatter(df, x='odometer', y='price', title='Price vs. Odometer (Mileage)')
fig.show()

# Scatter plot for Price vs. Model Year
fig = px.scatter(df, x='model_year', y='price', title='Price vs. Model Year')
fig.show()

# Scatter plot for Price vs. Cylinders
fig = px.scatter(df, x='cylinders', y='price', title='Price vs. Cylinders')
fig.show()

# Bar plot for Number of Listings by Condition
fig = px.bar(df, x='condition', title='Number of Listings by Condition')
fig.show()

# Bar plot for Number of Listings by Fuel Type
fig = px.bar(df, x='fuel', title='Number of Listings by Fuel Type')
fig.show()

# Bar plot for Number of Listings by Transmission Type
fig = px.bar(df, x='transmission', title='Number of Listings by Transmission Type')
fig.show()

# Box plot for Price by Condition
fig = px.box(df, x='condition', y='price', title='Price by Condition')
fig.show()

# Box plot for Price by Fuel Type
fig = px.box(df, x='fuel', y='price', title='Price by Fuel Type')
fig.show()

# Box plot for Price by Transmission Type
fig = px.box(df, x='transmission', y='price', title='Price by Transmission Type')
fig.show()

# Heatmap of Correlation Matrix
correlation_matrix = df[['price', 'model_year', 'odometer', 'days_listed', 'cylinders']].corr()
fig = px.imshow(correlation_matrix, title='Correlation Matrix Heatmap')
fig.show()

# Scatter Matrix
fig = px.scatter_matrix(df, dimensions=['price', 'model_year', 'odometer', 'days_listed', 'cylinders'], title='Scatter Matrix')

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed